@import url('http://fonts.cdnfonts.com/css/tw-cen-mt-std');

:root{
	--blanco: #ffffff;
	--cian: #00d8ff;
    --cian2: #82ebff;
	--gris: #444444;
	--negro: #000000;
}

html, body{
	margin: 0px;
	padding: 0px;
	background-color: var(--blanco);
	font-family: 'tw cen mt';
}

.bg1{
	position: absolute;
	top: 0px;
	height: 80vh;
	width: 100%;
	background-size: cover;
	background-image: url(img/background_image_r.jpg);
	color: var(--blanco);
	text-align: center; 
	z-index: 10;
}
.bg2{
	position: relative;
	top: 0px;
    min-height: 20vh;
	width: 100%;
	background-color: var(--blanco);
	color: var(--negro);
	text-align: center; 
	z-index: 7;
}

.bg3{
	position: relative;
	top: 0px;
    min-height: 20vh;
	width: 100%;
	background-color: var(--cian2);
	color: var(--blanco);
	text-align: center; 
	z-index: 7;
}

.bg2container{
    width: 90%;
    margin-left: 5%;
}

.cell{
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50%;
}

h1{
	position: relative;
	bottom: -70%;
	font-weight: MediumCond;
	font-size: 50px;
	text-shadow: 0px 0px 30px var(--negro);
	margin: 0 0 0 0;
}

h2{
	position: relative;
	top: 15px;
	font-weight: Normal;
	font-size: 30px;
	text-shadow: 0px 0px 20px var(--negro);
	margin: 0 0 0 0;
	letter-spacing: 10px;
}

h3{
	font-size: 40px;
	color: var(--cian);
	text-align: center;
    position: relative;
}

p{
    text-align: center;
    font-size: 30px;
}

.filler{
    height: 30px;
    width: 100%;
}

header{
	height: 100px;
	width: 100;
	top: 0px;
	z-index: 15;
	position: relative;
}
.menu_btn{
	height: 80px;
	width: 80px;
	float: left;
	border: none;
	background-color: rgba(255, 255, 255, 0);
}
.menu_btn_image{
	background: url("img/menu_image.png");
	background-size: 100% 100%;
	height: 80%;
	width: 80%;
	margin: 10%;
}
.header_block{
	position: sticky;
	height: 100px;
	top: 0px;
	width: 100%;
	background-color: var(--gris);
	z-index: 9;
}



@media screen and (min-width: 600px){
	.bg1{
		height: 100vh;
		background-image: url(img/background_image.jpg);
	}
	h1{
		bottom: -55%;
		font-size: 13vw;
	}
	h2{
		font-size: 45px;
		letter-spacing: 18px;
        width: 100%;
	}
    h3{
        font-size: 50px;
    }
    p{
        font-size: 30px;
    }
    .bg2container{
        width: 80%;
        margin-left: 10%;
    }
}

@media screen and (min-width: 1024px){
	.menu_btn{
		height: 100px;
		width: 100px;
	}
	h1{
		bottom: -55%;
		font-size: 10vw;
	}
	h2{
		font-size: 65px;
	}
    h3{
        font-size: 60px;
    }
}

















